<h1>Sign Up</h1>

<form action="/users/sign-up" method="post">
    <input type="text" name="username" placeholder="username">
    <br>
    <input type="password" name="password" placeholder="password">
    <br>
    <button type="submit"> Sign Up</button>
</form>